# Variables

In [3]:
a = 5
b = 10
my_variable = 56
my_10_variable = 10
any_variable_name= 356

string_variable = "Hello World\n"
single_quotes = 'Hello World\n'

print(my_variable)

56

In [6]:
print(str(my_variable) + ' Hi' + '\n')

56 Hi

# Methods

In [9]:
def my_print_method():
    print('Hello')
    print(' World!\n')

my_print_method()

Hello
 World!

In [10]:
# parameter

def my_print_method(my_parameter):
    print(my_parameter)

my_print_method('Hi')

Hi

In [13]:
def my_multiply_method(argument_one, argument_two):
    return argument_one * argument_two

result=my_multiply_method(4,5)
print(result)

20

In [14]:
my_print_method(my_multiply_method(4,5))

20

# Lists

In [16]:
grade_one = 77
grade_two = 80
grade_three = 90
print((grade_one + grade_two + grade_three)/3)

82.33333333333333

In [28]:
# most flexible of all
grades = [80,77,90]
print('Number of Grades:'+str(len(grades)))
print('Mean:'+str(sum(grades)/len(grades)))

Number of Grades:3
Mean:82.33333333333333

# Tuple

In [22]:
# A tuple is immutable, we cannot resize => the number of elements is fixed, with a list we can resize
tuple_grade = (77,80,90)
print(tuple_grade)

(77, 80, 90)

# Sets

In [23]:
#Sets contain unique values, unordered
sets_grade = {77,80,90,80}
print(sets_grade)

{80, 90, 77}

# List Operations

In [29]:
# Stay in order they created in
grades.append(100)
print(grades)

[80, 77, 90, 100]

# Tuple Operations

In [30]:
tuple_grade = tuple_grade + (100,)
print(tuple_grade)

(77, 80, 90, 100)

In [32]:
print(tuple_grade[0])

77

In [37]:
# Error
# tuple_grade[0] = 60
# print(tuple_grade)

# Set Operations

In [36]:
# Error
# set_grade[0] = 60
# print(set_grade)

In [39]:
sets_grade.add(60)
print(sets_grade)

{80, 90, 60, 77}

# Advanced Set Operations

In [43]:
set_one = {1,2,3,4,5}
set_two = {1,7,3,9,10,11}
print(set_one.intersection(set_two))
print(set_one.union(set_two))
print({1,2,3,4}.difference(set_two))

{1, 3}
{1, 2, 3, 4, 5, 7, 9, 10, 11}
{2, 4}

# Loops in Python

In [44]:
my_variable= "Hello"
print(my_variable[0])

H

In [45]:
print(my_variable[0])
print(my_variable[1])
print(my_variable[2])

H
e
l

In [47]:
for charact in my_variable: # Iterable => strings, lists, sets, tuples and more
    print(character)

o
o
o
o
o

In [49]:
my_list = [1,2,3,5,2]
for number in my_list:
    print(number**2)

1
4
9
25
4

In [54]:
user_wants_number = True
while user_wants_number == True:
    print(10)
    user_input=input("Should we print again? (y/n)")
    if user_input == 'n': 
        user_wants_number = False

10
Should we print again? (y/n)y
10
Should we print again? (y/n)n